.coluna{
    display: inline-block;
    vertical-align: top;
    min-width: 200px;
    max-width: 250px;
    min-height: 700px;
    text-align: center;
    border-right:solid;
}

.coluna:last-child{
    border:none;
}

.colunaHead{
    border-bottom: solid;
    overflow: hidden;
}